# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\temp_file\Course2021\mathOfIS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
